.label-left
{
  padding-bottom: 20px;
  margin: 5px;
}

#headerPiece
{
  grid-area: headerPiece;
}

#headerCapteur
{
  grid-area: headerCapteur;
}

#headerInformation
{
  grid-area: headerInformation;
}

.header
{
  text-align: center;
}

.gridContainerMaisonPieceCapteur
{
  display:grid;
  grid-template-areas :
  'headerPiece headerCapteur headerInformation'
  'piece capteur information'
  'piece capteur information';
  grid-gap: 20px;
}

.boutonRight
{
  margin: 5px;
}

#piece
{
  grid-area: piece;
  margin : 10px;
}

#capteur
{
  grid-area: capteur;
  margin : 10px;
}

#information
{
  grid-area: information;
  margin : 10px;
}

.ajoutFormulaire
{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: 10px;
  width: 90%;
}

#piece-select-gestion, #capteur-select-gestion
{
  width:100%;
  height:100%;
}

@media screen and (max-width:850px) {
  .gridContainerMaisonPieceCapteur
  {
    display:grid;
    grid-template-areas :
    'headerPiece'
    'piece'
    'headerCapteur'
    'capteur'
    'headerInformation'
    'information';
    grid-gap: 20px;
  }
}
