
/* -------------------------------
				FOOTER 
   ------------------------------- */
   
.footer {
    height: 5%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color : white;
    background-color: #242027;
    text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: center;
}