
/* -------------------------------
				FOOTER
   ------------------------------- */

footer {
    height: 30px;
    width: 100%;
    color: #254672;
    position: absolute;
    bottom: 0;
    background-color: #CECECE;
    border-top: 2px solid #254672;
    font-weight: bold;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
