<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
	<link type="text/css" rel="stylesheet" href="./css/onglet.css">
  <link type="text/css" rel="stylesheet" href="./css/styleMaisonPieceCapteur.css">
  <link type="text/css" rel="stylesheet" href="./css/basic_rules.css">
	<style>
		body {font-family: "Lato", sans-serif;}
	</style>
</head>
<body>
	<div class="tabcontainer">
		<div class="tablist">
			<a class="tablink" id="defaultOpen">Coordonnées</a>
			<a class="tablink">Maison & Capteur</a>
		</div>
		<div class="tabcontent">
			<div class="tabpage">
				<h1>Coordonnées</h1>
				<p>N/A</p>
			</div>
			<div class="tabpage">
        <div class="label-left">
  				<label>Maison :</label>
          <select>
            <option></option>
            <option>Test maison 1</option>
          </select>
        </div>
        <div class="gridContainerMaisonPieceCapteur">
          <label class="header" id="headerPiece">Pièce</label>

          <div id="piece">
            Pièce
          </div>

          <label class="header" id="headerCapteur">Capteurs / Effecteurs</label>
          <div id="capteur">
            Capteurs
          </div>

          <label class="header" id="headerAjout">Ajout</label>
          <div id="ajout">
						<div class="tabcontainer">
							<div class="tablist">
								<a class="tablink" id="defaultOpen">Maison</a>
								<a class="tablink">Pièce</a>
								<a class="tablink">Capteur</a>
							</div>
							<div class="tabcontent">
								<div class="tabpage">
									<h1>Maison</h1>
								</div>
								<div class="tabpage">
									<h1>Piece</h1>
								</div>
								<div class="tabpage">
									<h1>Capteur</h1>
								</div>
							</div>
						</div>
          </div>
        </div>
			</div>
			<div class="boutonRight">
				<button>Annuler</button>
				<button>Modifier</button>
				<button>Valider</button>
			</div>
		</div>
	</div>
</body>
<script src="./js/onglet.js"></script>
</html>
