<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/styleMenuUtil.css" />
		<link rel="stylesheet" href="css/styleFooter.css" />
        <title>Espace client - Homisep</title>
    </head>
    
    <body>
        
		<ul>
		  <li class ="logo"><img src="img/LogoAPP.png" alt="Homisep" class="avatar"></li>
		  <li><a href="#home">Tableau de bord</a></li>
		  <li><a href="#account">Mon compte</a></li>
		  <li><a href="#contact">F.A.Q</a></li>
		  <li class="logout"><a class="active" href="#indexUtilisateur"><img src="img/power_icon.png" class="logout_img">  Déconnexion</a></li>
		  <li class="logoutQuery"><a class="active" href="#indexUtilisateur"><img src="img/power_icon.png" class="logoutQuery_img"></a></li>
		</ul>

        BONJOUR

    </body>

    <br/><footer class="footer">
        <p>&#9400; Homisep 2018, tous droits réservés.</p>
    </footer>
</html>